$gray: #8e8e93;
$gray-1: #818990;
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$green: #00b83e;
$blue: #007aff;
$ghost: #5b708f;
$ghostBlue: #007aff1a;
$skeletonGray: #edf1f5;
$gray_scale_12: #999999;
$gray_scale_55: #666666;
$gray_scale_66: #555555;
$gray_scale_77: #777777;
$gray_scale_92: #edf5ff;
$gray_scale_97: #f5f7fa;
