.tab {
  flex: 1;
  color: $black;
  border: none;
  outline: none;
  padding: 5px 0;
  font-size: 13px;
  cursor: pointer;
  line-height: 18px;
  background-color: transparent;

  &:hover {
    color: $black;
  }

  &_active {
    color: #000000;
    font-weight: bold;
    background-color: $white;
  }
}
